<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="libs/fa/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800|Roboto:400,700,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
	<div class="layout-positioner">
	 	<div class="logo"></div>
	 	<div class="social">
	 		<ul>
	 			<li><a class="fa fa-facebook" href="#"></a></li>
	 			<li><a class="fa fa-twitter" href="#"></a></li>
	 			<li><a class="fa fa-youtube" href="#"></a></li>
	 			<li><a class="fa fa-pinterest-p" href="#"></a></li>
	 			<li><a class="fa fa-instagram" href="#"></a></li>
	 		</ul>
	 	</div>
	 	<div class="box-welcome">
	 		<h1>welcome to surfhouse</h1>
	 		<p>The only online store you will ever need for all your windsurfing and kitesur- fing and SUP needs</p>
	 	</div>
	 	<div class="title-slide">
	 		<span class="h-slide">JP Funride 2014</span>
	 		<p>Super easy going freeride boards based on the X-Cite Ride shape con- cept with additional control and super easy jibing. </p>
	 		<a href="#" class="slide-btm">Buy Now</a>
	 	</div>
	</div>
</header>
<div class="mainContent">
	<div class="layout-positioner">
		<aside>
			<nav>
				<h3>Menu</h3>
				<ul class="menu">
					<li><a href="" class="menu-item">About</a></li>
					<li><a href="" class="menu-item">apparel</a></li>
					<li><a href="" class="menu-item">surf apparel</a></li>
					<li><a href="" class="menu-item">windsurf </a></li>
					<li><a href="" class="menu-item">accessories</a></li>
					<li><a href="" class="menu-item">sale</a></li>
					<li><a href="" class="menu-item">brands</a></li>
					<li><a href="" class="menu-item">blog</a></li>
					<li><a href="" class="menu-item">Gadgets</a></li>
					<li><a href="" class="menu-item">cantact</a></li>
				</ul>
			</nav>
			<div class="banner-1">
				<div>Now is open!</div>
			</div>
		</aside>
		<article>
			<h2>New products</h2>
			<div class="item-container">
				<div class="item">
					<div class="img-item"><img src="img/Single_Thruster_2014_sm.jpg" alt="Single Thruster 2014"></div>
					<div class="name-item">Single Thruster 2014</div>
					<div class="price-item">€.865.00</div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/freestylewave_fws_sm.jpg" alt="Freestyle Wave"></div>
					<div class="name-item">Freestyle Wave FSW</div>
					<div class="price-item">€.770.50</div>
					<div class="old-price-item">€.1,270.15</div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/White_Collection_sm.jpg" alt="White Collection"></div>
					<div class="name-item">The White Collection SURFBOARD 2014</div>
					<div class="price-item">€.1,580.70</div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
			</div>
			<h2>Top products</h2>
			<div class="item-container">
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
			</div>
			<h2>Sale products</h2>
			<div class="item-container">
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
				<div class="item">
					<div class="img-item"><img src="img/surfboards_sm.jpg" alt="Surfboards"></div>
					<div class="name-item"></div>
					<div class="price-item"></div>
					<div class="old-price-item"></div>
				</div>
			</div>
		</article>
		<div class="brand">
			<img src="img/block-brand.png" alt="Brand">
			<img src="img/block-brand.png" alt="Brand">
			<img src="img/block-brand.png" alt="Brand">
			<img src="img/block-brand.png" alt="Brand">
            <img src="img/block-brand.png" alt="Brand">
            <img src="img/block-brand.png" alt="Brand">
            <img src="img/block-brand.png" alt="Brand">
            <img src="img/block-brand.png" alt="Brand">
		</div>
		<div class="instagram-feed">
			<h4 class="insta-feed-header"><span class="fa fa-instagram"></span>&nbsp;Instagram feed: <span class="insta-feed-header-tag">#surfhouse</span></h4>
			<div class="insta-items">
                <img src="img/Livello%2025.png" alt="Insta-Item">
                <img src="img/Livello%2026.png" alt="Insta-Item">
                <img src="img/Livello%2027.png" alt="Insta-Item">
                <img src="img/Livello%2028.png" alt="Insta-Item">
                <img src="img/Livello%2029.png" alt="Insta-Item">
                <img src="img/Livello%2030.jpg" alt="Insta-Item">
			</div>
		</div>
		<div class="network">
			<a class="fa fa-facebook fa-4x" href="#"></a>
			<a class="fa fa-twitter fa-4x" href="#"></a>
			<a class="fa fa-pinterest fa-4x" href="#"></a>
		</div>
	</div>
</div>
<footer>
	<div class="footer_1">
		<div class="layout-positioner f1-content">
			<div class="one">
				<h3>Category</h3>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">about us</a></li>
					<li><a href="#">eshop</a></li>
					<li><a href="#">Features</a></li>
					<li><a href="#">new collections</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</div>
			<div class="one">
				<h3>Our Account</h3>
				<ul>
					<li><a href="#">Your Account</a></li>
					<li><a href="#">Personal information</a></li>
					<li><a href="#">Addresses</a></li>
					<li><a href="#">Discount</a></li>
					<li><a href="#">Orders history</a></li>
					<li><a href="#">Addresses</a></li>
					<li><a href="#">Search Terms</a></li>
				</ul>
			</div>
			<div class="one">
				<h3>Our Support</h3>
				<ul>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Search Terms</a></li>
					<li><a href="#">Advanced Search</a></li>
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Mobile</a></li>
					<li><a href="#">Addresses</a></li>
				</ul>
			</div>
			<div class="one-and-a-half">
				<h3>Newsletter</h3>
				<p>Join thousands of other people subscribe to our news</p>
				<form class="subscribe-form" id="subscribe" action="#" method="post">
                    <input type="email" name="email" placeholder="INSERT EMAIL">
                    <input type="submit" value="SUBMIT">
                </form>
                <ul class="payments">
                	<li class="payment aex"></li>
                	<li class="payment mastercard"></li>
                	<li class="payment maestero"></li>
                	<li class="payment paypal"></li>
                	<li class="payment discover"></li>
                	<li class="payment visa"></li>
                </ul>
			</div>
			<div class="one-and-a-half">
				<h3>About Us</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
				<span class="f-phone-mail"><span class="phone">Phone:</span> 1-999-342-9876</span><br>
				<span class="f-phone-mail"><span class="mail">e-mail:</span> <a href="mailto:info@surfhouse.com">info@surfhouse.com</a></span>
			</div>
		</div>
	</div>
	<div class="footer_2">
		<div class="layout-positioner f2-content">
			<div class="copyright">
				&copy; 2017  SURFHOUSE. All rights reserved - Designed by theuncreativelab.com
			</div>
		  <div class="social-icon">
			<ul>
			  <li><a href="#" class="fa fa-facebook"></a></li>
			  <li><a href="#" class="fa fa-twitter"></a></li>
			  <li><a href="#" class="fa fa-pinterest-p"></a></li>
			  <li><a href="#" class="fa fa-google-plus"></a></li>
			  <li><a href="#" class="fa fa-tumblr"></a></li>
			  <li><a href="#" class="fa fa-instagram"></a></li>
			  <li><a href="#" class="fa fa-rss"></a></li>
			</ul>
		  </div>
		</div>
	</div>
</footer>

</body>
</html>
